.btn__read-more {
    width: 15rem;
    background-color: var(--primary-blue);
    padding: 1.1rem;
    margin-top: 1rem;
    
}

.btn__read-more:hover {
    background-color: var(--secondary-blue);
    transform: translateY(-.1rem);
}