.footer-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    justify-items: end;
    align-items: center;
    padding: 3rem 18rem;
    background-color: var(--primary-grey-darker);

}

.footer-bottom__left {
    justify-self: start;
}
.footer-bottom__left p {
    color: #8d8d8d;
}

.footer-bottom__right {
    display: flex;
}

@media screen and (max-width: 1024px) {
    .footer-bottom {
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 500px){
    .footer-bottom {
        justify-items: center;
    }
}