.header-bottom-banner {
    margin: auto;
    width: 80%;
    padding: 1rem 4rem;
    background-color: var(--primary-blue);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
}

.header-bottom-banner:after {
    content: "";
    width: 0; 
    height: 0; 
    top: 100%;
    left: 0;
    border-top: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 80px solid var(--primary-blue);
    position: absolute;
    
}

.bottom-banner__right {
    display: grid;
    justify-items: end;
}

@media screen and (max-width: 500px) {
    .header-bottom-banner {
        width: 100%;
        padding: 1.25rem 1rem;
    }
}


